* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  nav {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .link {
    list-style-type: none;
    border: 4px solid black;
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nol {
    list-style-type: none;
    border: 4px solid green;
    background-color: green;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  nav li {
    margin: 120px;
    font-weight: bold;
  }
  
  nav li:hover {
    color: blue;
  }
  
  .flexcont {
    display: flex;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    width: 200%;
  }
  
  .div1 {
    margin: 10px;
    border: 3px solid black;
  }
  
  .div1 div {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: black;
    border: black 1px;
    color: white;
    font-size: 20px;
  }

  .div1 {
    display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  
  .div2 {
    margin: 10px;
    border: 3px solid black;
  }
  
  .div2 div {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: black;
    border: black 1px;
    color: white;
    font-size: 20px;
  }

  .div2 {
    display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
  }
  
  .div3 {
    margin: 10px;
    border: 3px solid black;
  }
  
  .div3 div {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: black;
    border: black 1px;
    color: white;
    font-size: 20px;
  }
  
  .div3 {
    display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
  }

  .RHP {
    margin: 10px;
    border: 3px solid black;
  }
  
  .RHP h1 {
    margin: 10px;
    font-size: 1.5em;
  }
  
  .RHP ul li {
    margin: 10px;
  }
  
  .RHP {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  